.step {
  width: 50%;
    height: 50%;
    position: absolute;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.stepContainer {
  width: 50%;
  margin: 20px auto;
      position: absolute;
    height: 85vh;
}

.step:nth-child(1) {
    /*blue*/
    background-color: rgb(0,124,211);
    border-top-left-radius: 100%;
    top: 0%;
    left: 0%;
    border-right: 1rem solid black;
    border-bottom: 1rem solid black;
}
.step:nth-child(1):hover {
  background-color: rgba(0,124,211,50%);
}

.step:nth-child(2) {
    /*green*/
    background-color: rgb(0,144,18);
    border-top-right-radius: 100%;
    top: 0%;
    left: 50%;
    border-left: 1rem solid black;
    border-bottom: 1rem solid black;
}
.step:nth-child(3) {
    /*yellow*/
    background-color: rgb(204,182,15);
    border-bottom-left-radius: 100%;
    top: 50%;
    left: 0%;
    border-right: 1rem solid black;
    border-top: 1rem solid black;
    
}
.step:nth-child(4) {
    /*red*/
    background-color: rgb(105,14,14);
    border-bottom-right-radius: 100%;
    top: 50%;
    left: 50%;
    border-left: 1rem solid black;
    border-top: 1rem solid black;
}

.control {
      position: absolute;
    top: 25%;
    left: 25%;
    background: lightgrey;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: 1rem solid black;
}