body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.step {
  width: 50%;
  height: 50%;
  position: absolute;
  cursor: pointer;
  border: 0;
  outline: none;
}

.stepContainer {}

.step:nth-child(1) {
  /*blue*/
  background-color: rgb(0, 124, 211);
  border-top-left-radius: 100%;
  top: 0%;
  left: 0%;
  border-right: 1rem solid black;
  border-bottom: 1rem solid black;
}

.step:nth-child(1):active, .step.active:nth-child(1) {
  background-color: rgb(68, 153, 213);
}

.step:nth-child(2) {
  /*green*/
  background-color: rgb(0, 144, 18);
  border-top-right-radius: 100%;
  top: 0%;
  left: 50%;
  border-left: 1rem solid black;
  border-bottom: 1rem solid black;
}

.step:nth-child(2):active, .step.active:nth-child(2) {
  /*green*/
  background-color: rgb(0, 221, 31);
}

.step:nth-child(3) {
  /*yellow*/
  background-color: rgb(204, 182, 15);
  border-bottom-left-radius: 100%;
  top: 50%;
  left: 0%;
  border-right: 1rem solid black;
  border-top: 1rem solid black;
}

.step:nth-child(3):active, .step.active:nth-child(3) {
  /*yellow*/
  background-color: rgb(234, 218, 101);
}

.step:nth-child(4) {
  /*red*/
  background-color: rgb(105, 14, 14);
  border-bottom-right-radius: 100%;
  top: 50%;
  left: 50%;
  border-left: 1rem solid black;
  border-top: 1rem solid black;
}

.step:nth-child(4):active, .step.active:nth-child(4) {
  background-color: rgb(193, 45, 45);
}

.control {
  position: absolute;
  top: 25%;
  left: 25%;
  background: lightgrey;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  border: 1rem solid black;
}

.control > div {
  width: 70%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 15%;
  text-align: center;
}

.game-container {
  width: 50%;
  position: absolute;
  left: 25%;
  height: 100vh;
  border-radius: 100%;
  border: solid 2em black;
}

.wrong-button {
  color: red;
}