.vertical-center {
  min-height: calc(100% - 60px);
  min-height: calc(100vh - 60px);

  display: flex;
  align-items: center;
  width: 30%;
  margin: auto;
}

.main {
  height:50px;
}

.timer {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  font-size: xx-large;
}


.plus-minus {
  width: 50%;
}

.plus-minus button {
  width:100%;
  height: 50%;
}

.start-button {
  height: 100%;
}

.start-button button {
  height: 100%;
}

footer {
  background: gainsboro;
  line-height: 50px;
  text-align: center;
}

button {
  outline: none;
}

